/* ODS */
.ods-grid {
	margin-top: 64px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
}
.ods-grid .card-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	border-bottom: 3px solid var(--color-border);
}
.ods-grid .ods-number {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 8px;
	background: var(--color-primary);
	color: var(--color-background);
}
.ods-grid .card-content {
	padding: 18px;
}
.ods-grid ul {
	display: flex;
	flex-direction: column;
	gap: 6px;
}
.ods-grid ul li {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	font-size: 14px;
}
.ods-grid ul li img {
	height: 16px;
	width: 16px;
}

/* RISKS AND OPPORTUNITIES */
.opportunities-grid {
	margin-top: 64px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
}
.opportunities-grid .card:first-child {
	background: hsl(from var(--color-danger) h s l / 0.05);
}
.opportunities-grid .card:last-child {
	background: hsl(from var(--color-primary) h s l / 0.05);
}
.opportunities-grid .card:first-child .card-header h3 {
	color: var(--color-danger);
}
.opportunities-grid ul {
	display: flex;
	flex-direction: column;
	gap: 6px;
}
.opportunities-grid ul li {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	font-size: 14px;
}
.opportunities-grid ul li img {
	height: 16px;
	width: 16px;
}

/* ACTIONS */
.actions {
	margin-top: 64px;
}
.actions .actions-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
}
.actions .actions-grid .card:hover {
	box-shadow: var(--shadow-inset);
	background: hsl(from var(--color-primary) h s l / 0.15);
}
.actions .actions-grid .card-content {
	padding: 18px;
}
